/* Estilo del Header */
ion-header {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

ion-toolbar {
  --background: #443673;
  --color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

ion-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

/* Estilos Generales */
ion-content {
  --background: #221c40;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tarjeta de la tarea */
.task-card {
  background: rgba(208, 176, 217, 0.95);
  border-radius: 18px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 400px;
}

/* Inputs y Select */
ion-item {
  --background: transparent;
  --color: black;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Etiquetas de los inputs */
ion-label {
  color: black;
  font-weight: bold;
}

/* Botón Guardar */
.btn-guardar {
  font-weight: bold;
  margin-top: 15px;
  width: 100%;
  --border-radius: 12px;
  --background: #443673;
  --color: white;
  --box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
}

.btn-guardar:hover {
  filter: brightness(1.2);
}
