h3 {
    text-align: center;
}

ion-grid {
    //background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
    border-radius: 10px; // Ajusta el valor para más o menos curvatura
    overflow: hidden; // Evita que el contenido sobresalga
}

#checkRow{
    //background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
    border-radius: 10px; // Ajusta el valor para más o menos curvatura
    overflow: hidden; // Evita que el contenido sobresalga
}