<ion-header [translucent]="true">

  <ion-toolbar >
    <div class="header-container">
      <ion-buttons slot="start">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
      <ion-title class="custom-title">
        <ion-icon name="bar-chart-outline"></ion-icon>
        Estadisticas</ion-title>
    </div>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">


  <div class="weekly-chart">
    <h3>Estadísticas semanales</h3>
    
    <!-- Gráfica -->
    <div class="chart-wrapper">
      <div class="y-axis">
        <span>100%</span>
        <span>75%</span>
        <span>50%</span>
        <span>25%</span>
        <span>0%</span>
      </div>

      <div class="chart">
        <div class="bar-container" *ngFor="let day of weekData">  <!-- itera sobre weekData y crea una barra por cada dia de la semana-->
          <div class="bar" [style.height]="getPercentage(day.completed, day.total) + '%'"></div> <!-- itera sobre getPercentage pasandole los parametros de dias completados y total y esto lo toma como la altura dinamica de cada barra-->
          <div class="day-info">
            <span class="day-label">{{ day.label }}</span> <!--imprime el nombre del dia-->
            <span class="day-count">{{ day.completed }}/{{ day.total }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="progress-wrapper" >
    <app-progress-chart [completed]="16" [total]="20"></app-progress-chart>
    <h1 id="tittle-wrapper">Ve a tu propio ritmo :)</h1>
  </div>


  <h3 class="date">Hoy, {{ today | date: 'MMM d'}}</h3>



  <ion-card class="container-card" >

    <div class="card">
        <div class="card-content">
          <ion-thumbnail slot="start" class="color-box"></ion-thumbnail>
          <div class="card-text">
            <ion-card-header >
              <ion-card-title>Desarrollo de software</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              [Completada]
            </ion-card-content>
    
          </div>
        </div>
      </div>
      </ion-card>
  

  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>
