<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-container">
      <ion-title class="custom-title">Todas las tareas</ion-title>

      <ion-fab class="fab-header">
        <ion-fab-button class="small-button" (click)="openAddTaskModal()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </ion-toolbar>

  <ion-searchbar [animated]="true" placeholder="Buscar tarea..." mode="ios"></ion-searchbar>
  <ion-button class="button-subtarea" [routerLink]="['/tabs/tab3']">Subtareas</ion-button>
</ion-header>

<ion-content [fullscreen]="true" class="custom-content">
  <ion-list class="task-list">
    <ion-card class="task-card" *ngFor="let task of tasks" (click)="openTaskDetails(task)">
      <div class="task-content">
        <div class="task-icon"></div>

        <div class="task-text">
          <ion-card-title>{{ task.title }}</ion-card-title>
          <ion-card-subtitle>{{ task.time }} - {{ task.date }}</ion-card-subtitle>
        </div>

        <span class="task-status" [ngClass]="{ 'task-in-progress': !task.completed, 'task-completed': task.completed }">
          {{ task.completed ? 'Completada' : 'En progreso' }}
        </span>
      </div>
    </ion-card>
  </ion-list>
</ion-content>