<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-container">
      <ion-title class="custom-title">Todas las tareas</ion-title>

      <ion-fab class="fab-header">
        <ion-fab-button class="small-button" (click)="openAddTaskModal()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </ion-toolbar>
  <ion-searchbar [animated]="true" placeholder="Buscar tarea..." mode="ios"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="container-card" *ngFor="let task of tasks" (click)="openTaskDetails(task)"> 
    <div class="card">
      <div class="card-content">
        <ion-thumbnail slot="start" class="color-box"></ion-thumbnail>

        <div class="card-text">
          <ion-card-header>
            <ion-card-title>{{ task.title }}</ion-card-title>
            <ion-card-subtitle>{{ task.time }} - {{ task.date }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <span [ngClass]="{ 'task-in-progress': !task.completed, 'task-completed': task.completed }">
              {{ task.completed ? 'Completada' : 'En progreso' }}
            </span>
            <ion-button class="button-subtarea" [routerLink]="['/tabs/tab3']">Subtareas</ion-button>
          </ion-card-content>
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>
