<ion-header [translucent]="true">
  <ion-toolbar class="header-container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title class="custom-title">Subdividir tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-content">
  <ion-list class="task-select-container">
    <ion-item class="task-select-item">
      <ion-select label="Selecciona una tarea" label-placement="floating" (ionChange)="tareaSelect($event)" class="task-dropdown">
        <ion-select-option *ngFor="let task of tasks" [value]="task.id">{{ task.title }}</ion-select-option>
      </ion-select>
      <ion-button fill="clear" class="add-task-button" (click)="crearTareaPage()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-item class="subtask-header">
    <h5>Sub-Tareas ({{ subtasks.length }})</h5>
    <ion-button class="subdivide-button" (click)="subdividirTarea()">Subdividir tarea</ion-button>
  </ion-item>

  <ion-list class="subtask-list">
    <ion-card *ngFor="let subtask of subtasks" class="subtask-card">
      <div class="subtask-content">
        <div class="subtask-icon"></div>
        <div class="subtask-text">
          <ion-card-title>{{ subtask.title }}</ion-card-title>
          <ion-card-subtitle>40 min - [En progreso]</ion-card-subtitle>
        </div>
        <ion-button fill="clear" class="play-button">
          <ion-icon name="play-circle"></ion-icon>
        </ion-button>
      </div>
    </ion-card>
  </ion-list>
</ion-content>